.header {
  height: 70px;
  background: #1a80c7;
  position: fixed;
  top: 0px;
  width: 100%;
  display: flex;
  align-items: center;
  border-bottom: #19b95c solid 3px;
}

.logoContainer {
  width: 140px;
}

.logoContainer img {
  width: 100%;
  box-sizing: border-box;
  padding: 18px;
}

.mainContent {
  overflow: auto;
  margin-top: 70px;
  height: 100%;
  width: 100%;
  background: #061A40;
}

.sectionTitle {
  font-size: 30px;
  font-weight: bold;
  margin: 25px;
  color: #eaeaea;
  text-align: center;
  box-sizing: border-box;
  text-transform: uppercase;
}
