@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

html, body {
    max-width: 700px;
    margin: auto;
    background: rgb(35,37,38);
    font-family: 'Montserrat', 'arial', sans-serif;
}

h1 {
    max-width: 500px;
    font-size: 30px;
    margin: 25px 15px 35px 15px;
    color: #EAEAEA;
    text-align: center;  
}

hr {
    width: 275px;
    height: 1.5px;
    background-color: #08AEEA;
    background-image: linear-gradient(90deg, #08AEEA 0%, #2AF598 100%);
    border: none;
    border-radius: 5px 5px 5px 5px;
    margin-bottom: 25px;
    align-self: center;
}

tr {
    font-size: 18px;
    color: #EAEAEA;
}


td, th {
    padding: 2px;
}

a {
    color: #EAEAEA;
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: left;
    display: inline-block;
}

p {
    color: #EAEAEA;
    text-decoration: none;
    font-size: 16px;
    margin-left: 20px;
    margin-right: 20px;

}

label {
    width: 90px;
    height: 23px;
    left: 22px;
    top: 157px;

    font-size: 16px;
    line-height: 22px;

    color: #EAEAEA;
}

input[type=text] {
    width: 248px;
    height: 32px;
    left: 103px;
    top: 152px;

    background: #EAEAEA;
    box-shadow: inset 0px 0px 1px rgba(0, 0, 0, 0.25);
    border-radius: 2px;

    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;

    color: #1B1B1B;
}

input[type=submit], button {
    width: 150px;
    height: 34.2px;
    left: 201px;
    top: 351.5px;

    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 35px;
    text-align: center;

    color: #EAEAEA;

    width: 150px;
    height: 63px;
    left: 201px;
    top: 338px;

    background: #1876D2;
    border-radius: 5px;
}

.available {
    width: 20px;
    height: 20px;
    left: 335px;
    top: 198px;

    background: #26D9D2;
    border-radius: 5px;
}

.not-available {
    width: 20px;
    height: 20px;
    left: 335px;
    top: 230px;

    background: #EF5350;
    border-radius: 5px;
}
